<h3>Movie Title: {{rating.movie_title}}</h3>
<p><strong>Review by:</strong> {{rating.user.email}}</p>
<p><strong>Genre:</strong> {{rating.movie_genre}}</p>
<p><strong>Rating:</strong> {{rating.rating}}/10</p>
<p><strong>Review:</strong> {{rating.review}}</p>
<p><strong>Date seen:</strong> {{rating.date_watched}}</p>
