{{#if single}}
<h3>Movie Title: {{rating.movie_title}}</h3>
<p><strong>Genre:</strong> {{rating.movie_genre}}</p>
<p><strong>Rating:</strong> {{rating.rating}}/10</p>
<p><strong>Review:</strong> {{rating.review}}</p>
<p><strong>Date seen:</strong> {{rating.date_watched}}</p>
<form class="delete-review" data-review-id="{{rating.id}}" data-review-title="{{rating.movie_title}}">
  <input type="submit" value="Delete this review" class="btn btn-danger">
</form>
<form class="start-update" data-review-id="{{rating.id}}">
  <input type="submit" value="Edit this review" class="btn btn-default">
</form>

{{else}}
<section class="review" id="{{rating.id}}">
<h3>Movie Title: {{rating.movie_title}}</h3>
<p><strong>Genre:</strong> {{rating.movie_genre}}</p>
<p><strong>Rating:</strong> {{rating.rating}}/10</p>
<p><strong>Review:</strong> {{rating.review}}</p>
<p><strong>Date seen:</strong> {{rating.date_watched}}</p>
<form class="delete-review" data-review-id="{{rating.id}}" data-review-title="{{rating.movie_title}}">
  <input type="submit" value="Delete this review" class="btn btn-danger">
</form>
<form class="start-update" data-review-id="{{rating.id}}">
  <input type="submit" value="Edit this review" class="btn btn-default">
</form>
</section>
{{/if}}
