<section class="review" id="{{rating.id}}">
<p>Movie Title: {{rating.movie_title}}</p>
<p>Genre: {{rating.movie_genre}}</p>
<p>Rating: {{rating.rating}}/10</p>
<p>Review: {{rating.review}}</p>
<p>Date seen: {{rating.date_watched}}</p>
<form class="delete-review" data-review-id="{{rating.id}}">
  <input type="submit" value="Delete my review">
</form>
<form class="start-update" data-review-id="{{rating.id}}">
  <input type="submit" value="Edit my review">
</form>
</section>
