<form id="edit-review">
  <label><input required type="text" name="id" value="{{rating.id}}" style="display:none"></label>
  <label>Movie title: <input required type="text" name="movie_rating[movie_title]" value="{{rating.movie_title}}"></label>
  <label>Genre: <input required type="text" name="movie_rating[movie_genre]" value="{{rating.movie_genre}}"></label>
  <label>Rating: <input required type="number" name="movie_rating[rating]" min="0" max="10" value="{{rating.rating}}"></label>
  <label>Review: <textarea required name="movie_rating[review]">{{rating.review}}</textarea></label>
  <label>Date Seen: <input required type="date" name="movie_rating[date_watched]" value="{{rating.date_watched}}"></label>
  <input required type="submit">
</form>
